<main>
<div class="container-fluid">

<div class="main-section">
<ul class="hidden-xs sort-list list-inline text-center">
<li class=""><a href=/custom-hats/custom-snapbacks> Snapbacks </a></li>
<li class=""><a href=/custom-hats/custom-fitted-hats> Fitted Hats </a></li>
<li class=""><a href=/custom-hats/custom-strapback-hats> Dad Hats </a></li>
<li class=""><a href=/custom-hats/custom-camo-hats> Camo Hats </a></li>
<li class=""><a href=/custom-hats/custom-beanies> Beanies </a></li>
<li class=""><a href=/custom-hats/custom-5-panel-hats> 5 Panel Hats </a></li>
<li class=""><a href=/custom-hats/custom-trucker-hats> Trucker Hats </a></li>
<li class=""><a href=/custom-hats/custom-bucket-hats> Bucket Hats </a></li>
<li class=""><a href=/custom-hats/custom-athletic-hats> Athletic Hats </a></li>
<li class=""><a href=/custom-hats/custom-golf-hats> Golf Hats </a></li>
<li class="active"><a href=/custom-hats/custom-military-hats> Military Hats </a></li>
</ul>
<header class="heading text-center">
<h1>Design your own Custom Military Hats</h1>
</header>
<div class="row mb20">
<ul class="products-list list-unstyled text-center">
<li class="col-sm-4">
<div class="img-holder" itemscope itemtype="http://schema.org/Product" id="product_24">
<a href="/products/fidel-cap?taxon_id=13">
<picture>
<a alt="Fidel Military cap - CapBeast" class="img-responsive" href="/products/fidel-cap?taxon_id=13" itemprop="url"><img alt="Vc800" data-src="https://uploads.capbeast.com/spree/products/753/product/VC800.jpg?1410369399" itemprop="image" src="https://uploads.capbeast.com/spree/products/753/product/VC800.jpg?1410369399" /></a>
</picture>

</a>
</div>
<ul class="set-color list-inline">
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #634A34 0%, #634A34 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/386/product/IMG_0051.jpg?1408401490"></div>
</li>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #c0b870 0%, #c0b870 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/391/product/IMG_0054.jpg?1408401629"></div>
</li>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #D6C994 0%, #D6C994 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/396/product/IMG_0057.jpg?1408401753"></div>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #000000  0%, #000000  50%,  #030303 50%,  #030303 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/382/product/IMG_0048.jpg?1411839736"></div>
</li>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #7F917D 0%, #7F917D 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/390/product/IMG_0060.jpg?1411839829"></div>
</li>
</ul>
<strong class="title"><a href="/products/fidel-cap?taxon_id=13" itemprop="name" title="Fidel cap | CapBeast">Fidel cap | CapBeast</a></strong>
<strong class="price">$28.00</strong>
</li>
<li class="col-sm-4">
<div class="img-holder" itemscope itemtype="http://schema.org/Product" id="product_52">
<a href="/products/military-hat?taxon_id=13">
<picture>
<a alt="Military - Milspec hat - CapBeast" class="img-responsive" href="/products/military-hat?taxon_id=13" itemprop="url"><img alt="6j360m" data-src="https://uploads.capbeast.com/spree/products/1049/product/6J360M.jpg?1410367266" itemprop="image" src="https://uploads.capbeast.com/spree/products/1049/product/6J360M.jpg?1410367266" /></a>
</picture>

</a>
</div>
<ul class="set-color list-inline">
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #000000  0%, #000000  50%,  #030303 50%,  #030303 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/504/product/IMG_0042.jpg?1411924365"></div>
</li>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/508/product/IMG_0023.jpg?1411924483"></div>
</li>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #311E8F 0%, #311E8F 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/512/product/IMG_0033.jpg?1411924501"></div>
</li>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #634A34 0%, #634A34 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/516/product/IMG_0045.jpg?1411924513"></div>
</li>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #D6C994 0%, #D6C994 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/520/product/IMG_0026.jpg?1411924729"></div>
</li>
</ul>
<strong class="title"><a href="/products/military-hat?taxon_id=13" itemprop="name" title="Military hat | CapBeast">Military hat | CapBeast</a></strong>
<strong class="price">$27.00</strong>
</li>
<li class="col-sm-4">
<div class="img-holder" itemscope itemtype="http://schema.org/Product" id="product_25">
<a href="/products/camouflauge-fidel-cap?taxon_id=13">
<picture>
<a alt="Camo Fidel Military cap - CapBeast" class="img-responsive" href="/products/camouflauge-fidel-cap?taxon_id=13" itemprop="url"><img alt="Vc800 cam" data-src="https://uploads.capbeast.com/spree/products/754/product/VC800_CAM.jpg?1410369360" itemprop="image" src="https://uploads.capbeast.com/spree/products/754/product/VC800_CAM.jpg?1410369360" /></a>
</picture>

</a>
</div>
<ul class="set-color list-inline">
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #1B6305 0%, #1B6305 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/94/product/IMG_0062.jpg?1411840234"></div>
</li>
</ul>
<strong class="title"><a href="/products/camouflauge-fidel-cap?taxon_id=13" itemprop="name" title="Camo fidel hat | CapBeast">Camo fidel hat | CapBeast</a></strong>
<strong class="price">$28.00</strong>
</li>
<li class="col-sm-4">
<div class="img-holder" itemscope itemtype="http://schema.org/Product" id="product_282">
<a href="/products/camo-flat-bill-snapback-new-era?taxon_id=13">
<picture>
<a alt="Camo flat bill 9Fifty New Era Snapback | CapBeast" class="img-responsive" href="/products/camo-flat-bill-snapback-new-era?taxon_id=13" itemprop="url"><img alt="Flat bill 9fifty snapback  new era camo   front view" data-src="https://uploads.capbeast.com/spree/products/261085/product/FLAT_BILL_9FIFTY_SNAPBACK__NEW_ERA_CAMO_-_Front_View.jpg?1485187731" itemprop="image" src="https://uploads.capbeast.com/spree/products/261085/product/FLAT_BILL_9FIFTY_SNAPBACK__NEW_ERA_CAMO_-_Front_View.jpg?1485187731" /></a>
</picture>

</a>
</div>
<ul class="set-color list-inline">
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #030303  0%, #030303  50%,  #1F5919  50%,  #1F5919  100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/263763/product/FLAT_BILL_9FIFTY_SNAPBACK__NEW_ERA_CAMO_-_Front_View.jpg?1485460446"></div>
</li>
</ul>
<strong class="title"><a href="/products/camo-flat-bill-snapback-new-era?taxon_id=13" itemprop="name" title="Camo 9Fifty snapback | New Era">Camo 9Fifty snapback | New Era</a></strong>
<strong class="price">$28.00</strong>
</li>
<li class="col-sm-4">
<div class="img-holder" itemscope itemtype="http://schema.org/Product" id="product_304">
<a href="/products/camo-snapback-yupoong?taxon_id=13">
<picture>
<a alt="Camo snapback - Yupoong - Capbeast" class="img-responsive" href="/products/camo-snapback-yupoong?taxon_id=13" itemprop="url"><img alt="Flexfit camo classic snapback   green camo   front view" data-src="https://uploads.capbeast.com/spree/products/273072/product/Flexfit_Camo_Classic_Snapback_-_Green_Camo_-_Front_View.jpg?1486572751" itemprop="image" src="https://uploads.capbeast.com/spree/products/273072/product/Flexfit_Camo_Classic_Snapback_-_Green_Camo_-_Front_View.jpg?1486572751" /></a>
</picture>

</a>
</div>
<ul class="set-color list-inline">
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #000000 0%, #000000 50%, #368A06 50%, #368A06 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/273075/product/Flexfit_Camo_Classic_Snapback_-_Green_Camo_-_Front_View.jpg?1486573094"></div>
</li>
</ul>
<strong class="title"><a href="/products/camo-snapback-yupoong?taxon_id=13" itemprop="name" title="Camo snapback | Yupoong">Camo snapback | Yupoong</a></strong>
<strong class="price">$26.50</strong>
</li>
<li class="col-sm-4">
<div class="img-holder" itemscope itemtype="http://schema.org/Product" id="product_305">
<a href="/products/yupoong-5-panel-camo-hat?taxon_id=13">
<picture>
<a alt="5 panel camo hat - Yupoong - CapBeast" class="img-responsive" href="/products/yupoong-5-panel-camo-hat?taxon_id=13" itemprop="url"><img alt="Yupoong adjustable classic jockey camper cap   tiger   front view" data-src="https://uploads.capbeast.com/spree/products/276413/product/Yupoong_Adjustable_Classic_Jockey_Camper_Cap_-_Tiger_-_Front_View.jpg?1487009201" itemprop="image" src="https://uploads.capbeast.com/spree/products/276413/product/Yupoong_Adjustable_Classic_Jockey_Camper_Cap_-_Tiger_-_Front_View.jpg?1487009201" /></a>
</picture>

</a>
</div>
<ul class="set-color list-inline">
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #556B2F  0%, #556B2F  50%,  #000000 50%,  #000000 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/276415/product/Yupoong_Adjustable_Classic_Jockey_Camper_Cap_-_Tiger_-_Front_View.jpg?1487009293"></div>
</li>
</ul>
<strong class="title"><a href="/products/yupoong-5-panel-camo-hat?taxon_id=13" itemprop="name" title="Tiger Camo 5 Panel hat | Yupoong">Tiger Camo 5 Panel hat | Yupoong</a></strong>
<strong class="price">$30.00</strong>
</li>
</ul>
<div class="row">
<div class="col-sm-2 col-sm-offset-5 text-center">
</div>
</div>
</div>
<div class="row">
<ul class="products-list list-unstyled text-center">
<li class="col-sm-4">
<div class="img-holder sub-categories" itemscope itemtype="http://schema.org/Product" id="category_47">
<a href=/custom-hats/custom-military-hats/custom-embroidered-military-hats>
<picture>
<a href="/custom-hats/custom-military-hats/custom-embroidered-military-hats" itemprop="url"><img alt="Embroidered military hats" class="img-responsive" data-src="https://uploads.capbeast.com/spree/taxons/47/exact/embroidered-military-hats.jpg?1429180872" itemprop="image" src="https://uploads.capbeast.com/spree/taxons/47/exact/embroidered-military-hats.jpg?1429180872" /></a>
</picture>
</a>
</div>
<div class="title">
<a title="Sample Cap" itemprop="name" href=/custom-hats/custom-military-hats/custom-embroidered-military-hats class="info product-name text-center">Custom Embroidered Military Hats</a>
</div>
</li>
</ul>
</div>
<div class="row mb20">
<div class="col-sm-12">
<p class=""><p><strong>Military Hats at CapBeast</strong>&nbsp;</p>
<p>The military and fashion has a long, well documented history. As fashion consumers, we&rsquo;ve always looked at ways to extract traditional military garb and translate it into a street savvy, fashionable items of clothing for everyday wear and use. It&rsquo;s the only reason you&rsquo;ll ever see a dude in Starbucks rocking an insignia that indicates he&rsquo;s a corporal when he is actually a blogger. But who can blame him or anybody else for that matter? It&rsquo;s a fact that military style fashion just looks dope. Whether it&rsquo;s a camouflaged top, military style jacket or a desert storm peak hat, there&rsquo;s no denying the reach and influence military and warfare gear has on what we wear.</p>
<p>Military hats have been dropping in and out of the pop culture consciousness for years. The most popular military headwear you&rsquo;re likely to see is the simple patrol cap, better known and popularized as the Fidel Castro hat. Fashion takes its influence from the most unlikely of places, and there is nowhere less likely than a communist revolutionary; but that is how the fashion world&rsquo;s best and most iconic pieces work.&nbsp;</p>
<p>The most recent resurgence in popularity with the military cap and army hat comes in the form of chic and stylish super models. We are talking a-list beauties like Rosie Huntington Whitley, Astrid Berges Frisby and Kate Moss. All of which have been snapped out and about donning military style headgear and pulling it off with all the grace and beauty you&rsquo;d expect. But let&rsquo;s be clear here: you don&rsquo;t need to be a supermodel to pull a custom military hat off. Let your own style and personality do the talking and unleash your creative side with CapBeasts hat customizer, and craft some of your own dope headgear with a military twist.&nbsp;</p>
</p>
</div>
</div>
<div class="row">
<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
<ul class="sort-list list-inline text-center" style="margin-top:0px">
<li><a href="/custom-hats/custom-military-hats/custom-embroidered-military-hats"> Embroidered Military Hats </a></li>
</ul>
</div>
</div>
</div> 
</div> 
</main>