<h1>Editing Custom Strapback Hat</h1>

<%= render 'form', custom_strapback_hat: @custom_strapback_hat %>

<%= link_to 'Show', @custom_strapback_hat %> |
<%= link_to 'Back', custom_strapback_hats_path %>
