<main>
<div class="container-fluid">

<div class="main-section">
<ul class="hidden-xs sort-list list-inline text-center">
<li class=""><a href=/custom-hats/custom-snapbacks> Snapbacks </a></li>
<li class=""><a href=/custom-hats/custom-fitted-hats> Fitted Hats </a></li>
<li class=""><a href=/custom-hats/custom-strapback-hats> Dad Hats </a></li>
<li class=""><a href=/custom-hats/custom-camo-hats> Camo Hats </a></li>
<li class=""><a href=/custom-hats/custom-beanies> Beanies </a></li>
<li class=""><a href=/custom-hats/custom-5-panel-hats> 5 Panel Hats </a></li>
<li class=""><a href=/custom-hats/custom-trucker-hats> Trucker Hats </a></li>
<li class="active"><a href=/custom-hats/custom-bucket-hats> Bucket Hats </a></li>
<li class=""><a href=/custom-hats/custom-athletic-hats> Athletic Hats </a></li>
<li class=""><a href=/custom-hats/custom-golf-hats> Golf Hats </a></li>
<li class=""><a href=/custom-hats/custom-military-hats> Military Hats </a></li>
</ul>
<header class="heading text-center">
<h1>Design your own Custom Bucket Hats</h1>
</header>
<div class="row mb20">
<ul class="products-list list-unstyled text-center">
<li class="col-sm-4">
<div class="img-holder" itemscope itemtype="http://schema.org/Product" id="product_298">
<a href="/products/flexfit-bucket-hat?taxon_id=10">
<picture>
<a alt="flexfit-bucket-hat" class="img-responsive" href="/products/flexfit-bucket-hat?taxon_id=10" itemprop="url"><img alt="Flexfit bucket hat 5003   navy   front view" data-src="https://uploads.capbeast.com/spree/products/276438/product/FlexFit_Bucket_hat_5003_-_Navy_-_Front_view.jpg?1487012520" itemprop="image" src="https://uploads.capbeast.com/spree/products/276438/product/FlexFit_Bucket_hat_5003_-_Navy_-_Front_view.jpg?1487012520" /></a>
</picture>

</a>
</div>
<ul class="set-color list-inline">
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #311E8F 0%, #311E8F 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/269532/product/FlexFit_Bucket_hat_5003_-_Navy_-_Front_view.jpg?1486137884"></div>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #000000  0%, #000000  50%,  #030303 50%,  #030303 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/269526/product/FlexFit_Bucket_hat_5003_-_Black_-_Front_view.jpg?1486137762"></div>
</li>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #c0b870 0%, #c0b870 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/269530/product/FlexFit_Bucket_hat_5003_-_Khaki_-_Front_view.jpg?1486137882"></div>
</li>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #CCCCCC 0%, #CCCCCC 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/276441/product/FlexFit_Bucket_hat_5003_-_Grey_-_Front_view.jpg?1487012798"></div>
</li>
</ul>
<strong class="title"><a href="/products/flexfit-bucket-hat?taxon_id=10" itemprop="name" title="Bucket hat | Flexfit">Bucket hat | Flexfit</a></strong>
<strong class="price">$30.00</strong>
</li>
<li class="col-sm-4">
<div class="img-holder" itemscope itemtype="http://schema.org/Product" id="product_42">
<a href="/products/bush-hat?taxon_id=10">
<picture>
<a alt="Classic bucket hat - CapBeast" class="img-responsive" href="/products/bush-hat?taxon_id=10" itemprop="url"><img alt="3c120m" data-src="https://uploads.capbeast.com/spree/products/1039/product/3C120M.jpg?1410366460" itemprop="image" src="https://uploads.capbeast.com/spree/products/1039/product/3C120M.jpg?1410366460" /></a>
</picture>

</a>
</div>
<ul class="set-color list-inline">
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #311E8F 0%, #311E8F 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/1250/product/IMG_0110.jpg?1412102397"></div>
</li>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #053B20 0%, #053B20 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/1254/product/IMG_0104.jpg?1412102411"></div>
</li>
</ul>
<strong class="title"><a href="/products/bush-hat?taxon_id=10" itemprop="name" title="Bush style bucket hat">Bush style bucket hat</a></strong>
<strong class="price">$37.00</strong>
</li>
</ul>
<div class="row">
<div class="col-sm-2 col-sm-offset-5 text-center">
</div>
</div>
</div>
<div class="row mb20">
<div class="col-sm-12">
<p class=""><p>The bucket hat has a long and unique history. I&rsquo;m not talking about the type of history a snapback or fitted has; the buckets legacy is far more interesting than that. This is a piece of fashion headwear that was originally used by the Israeli Defense Force all the way back in the 1940s. Back then if you were rocking a standard issue men&rsquo;s bucket hat, it&rsquo;s because you were protecting yourself from the harsh desert sun on the back of your neck. These days if you&rsquo;re wearing a bucket hat you&rsquo;re trying to make a fashion statement, and a strong one too.</p>
<p>To put it simply, the bucket hat is way more than just a hat. It&rsquo;s a character piece. It&rsquo;s got a life of its own. You might see Schoolboy Q and Earl Sweatshirt of Odd Future rocking a bucket hat, but you&rsquo;ll also see pictures of Hunter S. Thompson wearing one too. That right there, is&nbsp;<em>diversity</em>. This is piece is a statement atop your head that you can share in common with some of the quirkiest and most interesting people in pop culture history.</p>
<p>It&rsquo;s true, their popularity cooled off for a while in late 90s to 00s, but you can&rsquo;t keep an eternal style piece down. It is safe to say that this hype train is back with a bang, and there is no better time to jump on board. Cop yourself a low-key black bucket hat for the summer months, or if you&rsquo;re feeling really adventurous, get involved with CapBeasts hat customizer and tailor yourself a bad-ass custom bucket hat that will turn heads and win admirers.</p>
<p>&nbsp;</p>
<p>&ldquo;<em><strong>No lean but I chopped and screwed, she wants a groovy type, bucket hat dude&rdquo;</strong></em>&nbsp;&ndash;&nbsp;<strong>Schoolboy Q</strong></p>
</p>
</div>
</div>
<div class="row">
<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
<ul class="sort-list list-inline text-center" style="margin-top:0px">
</ul>
</div>
</div>
</div> 
</div> 
</main>