<main>
<div class="container-fluid">

<div class="main-section">
<ul class="hidden-xs sort-list list-inline text-center">
<li class=""><a href=/custom-hats/custom-snapbacks> Snapbacks </a></li>
<li class=""><a href=/custom-hats/custom-fitted-hats> Fitted Hats </a></li>
<li class=""><a href=/custom-hats/custom-strapback-hats> Dad Hats </a></li>
<li class=""><a href=/custom-hats/custom-camo-hats> Camo Hats </a></li>
<li class="active"><a href=/custom-hats/custom-beanies> Beanies </a></li>
<li class=""><a href=/custom-hats/custom-5-panel-hats> 5 Panel Hats </a></li>
<li class=""><a href=/custom-hats/custom-trucker-hats> Trucker Hats </a></li>
<li class=""><a href=/custom-hats/custom-bucket-hats> Bucket Hats </a></li>
<li class=""><a href=/custom-hats/custom-athletic-hats> Athletic Hats </a></li>
<li class=""><a href=/custom-hats/custom-golf-hats> Golf Hats </a></li>
<li class=""><a href=/custom-hats/custom-military-hats> Military Hats </a></li>
</ul>
<header class="heading text-center">
<h1>Design your own Custom Beanies</h1>
</header>
<div class="row mb20">
<ul class="products-list list-unstyled text-center">
<li class="col-sm-4">
<div class="img-holder" itemscope itemtype="http://schema.org/Product" id="product_75">
<a href="/products/beanie-hat-new-era?taxon_id=8">
<picture>
<a alt="Beanie hat - New Era - NE900 - CapBeast" class="img-responsive" href="/products/beanie-hat-new-era?taxon_id=8" itemprop="url"><img alt="Ne900" data-src="https://uploads.capbeast.com/spree/products/1357/product/NE900.jpg?1413566078" itemprop="image" src="https://uploads.capbeast.com/spree/products/1357/product/NE900.jpg?1413566078" /></a>
</picture>

</a>
</div>
<ul class="set-color list-inline">
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #bdbdbd 0%, #bdbdbd 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/1418/product/IMG_0126.jpg?1412001797"></div>
</li>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #FFC3BA 0%, #FFC3BA 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/1430/product/IMG_0136.jpg?1412001953"></div>
</li>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #15125C 0%, #15125C 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/1422/product/Remove_background___Make_600x600.jpg?1413578108"></div>
</li>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #D91F00 0%, #D91F00 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/1414/product/IMG_0134.jpg?1412001786"></div>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #000000  0%, #000000  50%,  #030303 50%,  #030303 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/1410/product/IMG_0130.jpg?1412001775"></div>
</li>
</ul>
<strong class="title"><a href="/products/beanie-hat-new-era?taxon_id=8" itemprop="name" title="Beanie hat | New Era">Beanie hat | New Era</a></strong>
<strong class="price">$27.00</strong>
</li>
<li class="col-sm-4">
<div class="img-holder" itemscope itemtype="http://schema.org/Product" id="product_35">
<a href="/products/pom-beanie?taxon_id=8">
<picture>
<a alt="pom pom beanie - pom toque - CapBeast" class="img-responsive" href="/products/pom-beanie?taxon_id=8" itemprop="url"><img alt="Sp15" data-src="https://uploads.capbeast.com/spree/products/796/product/SP15.jpg?1410368197" itemprop="image" src="https://uploads.capbeast.com/spree/products/796/product/SP15.jpg?1410368197" /></a>
</picture>

</a>
</div>
<ul class="set-color list-inline">
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #6B6B6B 0%, #6B6B6B 50%,  #FF0000 50%,  #FF0000 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/813/product/IMG_0178.jpg?1411910872"></div>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #6B6B6B  0%, #6B6B6B  50%,  #000000 50%,  #000000 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/821/product/IMG_0182.jpg?1411910893"></div>
</li>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #FF0000 0%, #FF0000 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/801/product/IMG_0186.jpg?1411910584"></div>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #000000  0%, #000000  50%,  #030303 50%,  #030303 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/797/product/IMG_0176.jpg?1411910576"></div>
</li>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #636363 0%, #636363 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/809/product/IMG_0174.jpg?1411910600"></div>
</li>
</ul>
<strong class="title"><a href="/products/pom-beanie?taxon_id=8" itemprop="name" title="Pom Beanie | CapBeast">Pom Beanie | CapBeast</a></strong>
<strong class="price">$24.00</strong>
</li>
<li class="col-sm-4">
<div class="img-holder" itemscope itemtype="http://schema.org/Product" id="product_34">
<a href="/products/beanie-toque?taxon_id=8">
<picture>
<a alt="large beanie - toque - CapBeast" class="img-responsive" href="/products/beanie-toque?taxon_id=8" itemprop="url"><img alt="Sp12" data-src="https://uploads.capbeast.com/spree/products/762/product/SP12.jpg?1410368143" itemprop="image" src="https://uploads.capbeast.com/spree/products/762/product/SP12.jpg?1410368143" /></a>
</picture>

</a>
</div>
<ul class="set-color list-inline">
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #bdbdbd 0%, #bdbdbd 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/704/product/IMG_0098.jpg?1411847664"></div>
</li>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #3A35D4 0%, #3A35D4 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/684/product/IMG_0085.jpg?1411847647"></div>
</li>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #CBF067 0%, #CBF067 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/696/product/IMG_0090.jpg?1411847698"></div>
</li>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #053B20 0%, #053B20 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/692/product/IMG_0086.jpg?1411847708"></div>
</li>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #747D7D 0%, #747D7D 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/712/product/IMG_0092.jpg?1411847677"></div>
</li>
</ul>
<strong class="title"><a href="/products/beanie-toque?taxon_id=8" itemprop="name" title="Beanie toque - 12&quot; | CapBeast">Beanie toque - 12&quot; | CapBeast</a></strong>
<strong class="price">$23.00</strong>
</li>
<li class="col-sm-4">
<div class="img-holder" itemscope itemtype="http://schema.org/Product" id="product_76">
<a href="/products/pom-pom-beanie-new-era?taxon_id=8">
<picture>
<a alt="Pom Beanie hat - New Era - NE901 - CapBeast" class="img-responsive" href="/products/pom-pom-beanie-new-era?taxon_id=8" itemprop="url"><img alt="Ne901" data-src="https://uploads.capbeast.com/spree/products/1358/product/NE901.jpg?1413566065" itemprop="image" src="https://uploads.capbeast.com/spree/products/1358/product/NE901.jpg?1413566065" /></a>
</picture>

</a>
</div>
<ul class="set-color list-inline">
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #15125C 0%, #15125C 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/1662/product/IMG_0107.jpg?1412110942"></div>
</li>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #FFC3BA 0%, #FFC3BA 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/1666/product/IMG_0098.jpg?1412110952"></div>
</li>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #FF0000 0%, #FF0000 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/1654/product/IMG_0109.jpg?1412110808"></div>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #000000  0%, #000000  50%,  #030303 50%,  #030303 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/1650/product/IMG_0103.jpg?1412110796"></div>
</li>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #bdbdbd 0%, #bdbdbd 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/1658/product/IMG_0100.jpg?1412110822"></div>
</li>
</ul>
<strong class="title"><a href="/products/pom-pom-beanie-new-era?taxon_id=8" itemprop="name" title="Pom Pom beanie | New Era">Pom Pom beanie | New Era</a></strong>
<strong class="price">$30.00</strong>
</li>
<li class="col-sm-4">
<div class="img-holder" itemscope itemtype="http://schema.org/Product" id="product_57">
<a href="/products/slouchy-beanie?taxon_id=8">
<picture>
<a alt="Custom Slouchy Beanie - CapBeast" class="img-responsive" href="/products/slouchy-beanie?taxon_id=8" itemprop="url"><img alt="1f073m" data-src="https://uploads.capbeast.com/spree/products/787/product/1F073M.jpg?1413565337" itemprop="image" src="https://uploads.capbeast.com/spree/products/787/product/1F073M.jpg?1413565337" /></a>
</picture>

</a>
</div>
<ul class="set-color list-inline">
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 50%,  #bdbdbd 50%,  #bdbdbd 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/1052/product/IMG_0080.jpg?1413058148"></div>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #747D7D 0%, #747D7D 50%,  #bdbdbd 50%,  #bdbdbd 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/401/product/IMG_0084.jpg?1413058182"></div>
</li>
</ul>
<strong class="title"><a href="/products/slouchy-beanie?taxon_id=8" itemprop="name" title="Slouchy Beanie | CapBeast">Slouchy Beanie | CapBeast</a></strong>
<strong class="price">$32.00</strong>
</li>
<li class="col-sm-4">
<div class="img-holder" itemscope itemtype="http://schema.org/Product" id="product_32">
<a href="/products/beanie-hat?taxon_id=8">
<picture>
<a alt="Beanie - winter hat - 8&quot; knit - CapBeast" class="img-responsive" href="/products/beanie-hat?taxon_id=8" itemprop="url"><img alt="Sp08" data-src="https://uploads.capbeast.com/spree/products/1036/product/SP08.jpg?1410368046" itemprop="image" src="https://uploads.capbeast.com/spree/products/1036/product/SP08.jpg?1410368046" /></a>
</picture>

</a>
</div>
<ul class="set-color list-inline">
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #87084C 0%, #87084C 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/1374/product/IMG_0161.jpg?1411844297"></div>
</li>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #FF0000 0%, #FF0000 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/1366/product/IMG_0153.jpg?1411844279"></div>
</li>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #FF8C9F 0%, #FF8C9F 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/1380/product/IMG_0155.jpg?1411844648"></div>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #000000  0%, #000000  50%,  #030303 50%,  #030303 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/1364/product/IMG_0163.jpg?1411844273"></div>
</li>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #053B20 0%, #053B20 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/1376/product/IMG_0167.jpg?1411844379"></div>
</li>
</ul>
<strong class="title"><a href="/products/beanie-hat?taxon_id=8" itemprop="name" title="Beanie hat | CapBeast">Beanie hat | CapBeast</a></strong>
<strong class="price">$26.00</strong>
</li>
<li class="col-sm-4">
<div class="img-holder" itemscope itemtype="http://schema.org/Product" id="product_55">
<a href="/products/jeep-style-beanie?taxon_id=8">
<picture>
<a alt="Beanie hat - Jeep style beanie - CapBeast" class="img-responsive" href="/products/jeep-style-beanie?taxon_id=8" itemprop="url"><img alt="Jeep beanie" data-src="https://uploads.capbeast.com/spree/products/1051/product/Jeep_Beanie.jpg?1413889289" itemprop="image" src="https://uploads.capbeast.com/spree/products/1051/product/Jeep_Beanie.jpg?1413889289" /></a>
</picture>

</a>
</div>
<ul class="set-color list-inline">
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #311E8F 0%, #311E8F 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/1270/product/IMG_0070.jpg?1413057641"></div>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #000000  0%, #000000  50%,  #030303 50%,  #030303 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/1266/product/IMG_0070.jpg?1413577670"></div>
</li>
</ul>
<strong class="title"><a href="/products/jeep-style-beanie?taxon_id=8" itemprop="name" title="Beanie hat - Jeep style | CapBeast">Beanie hat - Jeep style | CapBeast</a></strong>
<strong class="price">$29.00</strong>
</li>
<li class="col-sm-4">
<div class="img-holder" itemscope itemtype="http://schema.org/Product" id="product_58">
<a href="/products/waffle-knit-beanie?taxon_id=8">
<picture>
<a alt="Waffle knit beanie hat - CapBeast" class="img-responsive" href="/products/waffle-knit-beanie?taxon_id=8" itemprop="url"><img alt="1e135m" data-src="https://uploads.capbeast.com/spree/products/788/product/1E135M.jpg?1410365781" itemprop="image" src="https://uploads.capbeast.com/spree/products/788/product/1E135M.jpg?1410365781" /></a>
</picture>

</a>
</div>
<ul class="set-color list-inline">
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #636363  0%, #636363  50%,  #D19B54  50%,  #D19B54  100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/128/product/IMG_0222.jpg?1408372646"></div>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #747D7D 0%, #747D7D 50%,  #616161  50%,  #616161  100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/122/product/IMG_0224.jpg?1408372188"></div>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #000000 0%, #000000 50%,  #616161  50%,  #616161  100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/118/product/IMG_0225.jpg?1408371612"></div>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #FF6680 0%, #FF6680 50%,  #FFC3BA  50%,  #FFC3BA  100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/136/product/IMG_0218.jpg?1408373270"></div>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #4A3712 0%, #4A3712 50%,  #D19B54  50%,  #D19B54  100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/132/product/IMG_0220.jpg?1408372905"></div>
</li>
</ul>
<strong class="title"><a href="/products/waffle-knit-beanie?taxon_id=8" itemprop="name" title="Beanie hat - Waffle knit | CapBeast">Beanie hat - Waffle knit | CapBeast</a></strong>
<strong class="price">$28.00</strong>
</li>
<li class="col-sm-4">
<div class="img-holder" itemscope itemtype="http://schema.org/Product" id="product_63">
<a href="/products/3-tone-beanie?taxon_id=8">
<picture>
<a alt="3 tone acrylic hat - CapBeast" class="img-responsive" href="/products/3-tone-beanie?taxon_id=8" itemprop="url"><img alt="9k036m" data-src="https://uploads.capbeast.com/spree/products/792/product/9K036M.jpg?1410367518" itemprop="image" src="https://uploads.capbeast.com/spree/products/792/product/9K036M.jpg?1410367518" /></a>
</picture>

</a>
</div>
<ul class="set-color list-inline">
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #000000 0%, #000000 50%,  #FF0000 50%,  #FF0000 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/222/product/IMG_0245.jpg?1411928387"></div>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #311E8F 0%, #311E8F 50%,  #747D7D 50%,  #747D7D 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/234/product/IMG_0249.jpg?1411928377"></div>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #000000 0%, #000000 50%,  #FFD700 50%,  #FFD700 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/218/product/IMG_0243.jpg?1411928401"></div>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #000000 0%, #000000 50%,  #616161  50%,  #616161  100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/238/product/IMG_0241.jpg?1411928364"></div>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #000000 0%, #000000 50%,  #747D7D 50%,  #747D7D 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/230/product/IMG_0249.jpg?1411928405"></div>
</li>
</ul>
<strong class="title"><a href="/products/3-tone-beanie?taxon_id=8" itemprop="name" title="Beanie hat - 3 Tone frequency design acrylic | CapBeast">Beanie hat - 3 Tone frequency design acrylic | ...</a></strong>
<strong class="price">$31.00</strong>
</li>
<li class="col-sm-4">
<div class="img-holder" itemscope itemtype="http://schema.org/Product" id="product_62">
<a href="/products/solid-color-beanie?taxon_id=8">
<picture>
<a alt="Acrylic hat - CapBeast" class="img-responsive" href="/products/solid-color-beanie?taxon_id=8" itemprop="url"><img alt="1m030m" data-src="https://uploads.capbeast.com/spree/products/791/product/1M030M.jpg?1410366208" itemprop="image" src="https://uploads.capbeast.com/spree/products/791/product/1M030M.jpg?1410366208" /></a>
</picture>

</a>
</div>
<ul class="set-color list-inline">
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #D6C994 0%, #D6C994 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/1056/product/IMG_0233.jpg?1413475376"></div>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #000000  0%, #000000  50%,  #030303 50%,  #030303 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/154/product/IMG_0235.jpg?1411927494"></div>
</li>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #747D7D 0%, #747D7D 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/162/product/IMG_0237.jpg?1411927529"></div>
</li>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #311E8F 0%, #311E8F 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/166/product/IMG_0239.jpg?1411927516"></div>
</li>
</ul>
<strong class="title"><a href="/products/solid-color-beanie?taxon_id=8" itemprop="name" title="Beanie hat - Solid color acrylic | CapBeast">Beanie hat - Solid color acrylic | CapBeast</a></strong>
<strong class="price">$26.00</strong>
</li>
<li class="col-sm-4">
<div class="img-holder" itemscope itemtype="http://schema.org/Product" id="product_67">
<a href="/products/rib-knit-beanie?taxon_id=8">
<picture>
<a alt="Rib knit hat - CapBeast" class="img-responsive" href="/products/rib-knit-beanie?taxon_id=8" itemprop="url"><img alt="9i039m" data-src="https://uploads.capbeast.com/spree/products/790/product/9I039M.jpg?1410367304" itemprop="image" src="https://uploads.capbeast.com/spree/products/790/product/9I039M.jpg?1410367304" /></a>
</picture>

</a>
</div>
<ul class="set-color list-inline">
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #616161 0%, #616161 50%,  #000000  50%,  #000000  100%);"></a>
 <div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/190/product/IMG_0264.jpg?1411926951"></div>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #000000 0%, #000000 50%,  #616161  50%,  #616161  100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/186/product/IMG_0262.jpg?1411926932"></div>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #311E8F 0%, #311E8F 50%,  #616161  50%,  #616161  100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/182/product/IMG_0265.jpg?1411926917"></div>
</li>
</ul>
<strong class="title"><a href="/products/rib-knit-beanie?taxon_id=8" itemprop="name" title="Beanie hat - Rib knit | CapBeast">Beanie hat - Rib knit | CapBeast</a></strong>
<strong class="price">$27.00</strong>
</li>
<li class="col-sm-4">
<div class="img-holder" itemscope itemtype="http://schema.org/Product" id="product_37">
<a href="/products/8-inch-camo-beanie?taxon_id=8">
<picture>
<a alt="camo beanie - Capbeast" class="img-responsive" href="/products/8-inch-camo-beanie?taxon_id=8" itemprop="url"><img alt="Klcb08" data-src="https://uploads.capbeast.com/spree/products/774/product/KLCB08.jpg?1410367876" itemprop="image" src="https://uploads.capbeast.com/spree/products/774/product/KLCB08.jpg?1410367876" /></a>
</picture>

</a>
</div>
<ul class="set-color list-inline">
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #575757 0%, #575757 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/246/product/IMG_0131.jpg?1411911266"></div>
</li>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #EBE5E1 0%, #EBE5E1 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/250/product/IMG_0133.jpg?1411911275"></div>
</li>
</ul>
<strong class="title"><a href="/products/8-inch-camo-beanie?taxon_id=8" itemprop="name" title="Camo Beanie - 8&quot; | CapBeast">Camo Beanie - 8&quot; | CapBeast</a></strong>
<strong class="price">$23.00</strong>
</li>
</ul>
<div class="row">
<div class="col-sm-2 col-sm-offset-5 text-center">
<nav class="pagination_override">
<span class="page current">
1
</span>
<span class="page">
<a href="/custom-hats/custom-beanies?page=2" rel="next">2</a>
</span>
<span class="next">
<a href="/custom-hats/custom-beanies?page=2" rel="next">Next &rsaquo;</a>
</span>
</nav>
</div>
</div>
</div>
<div class="row">
<ul class="products-list list-unstyled text-center">
<li class="col-sm-4">
<div class="img-holder sub-categories" itemscope itemtype="http://schema.org/Product" id="category_28">
<a href=/custom-hats/custom-beanies/custom-new-era-beanies>
<picture>
<a href="/custom-hats/custom-beanies/custom-new-era-beanies" itemprop="url"><img alt="New era beanies" class="img-responsive" data-src="https://uploads.capbeast.com/spree/taxons/28/exact/new-era-beanies.jpg?1429180854" itemprop="image" src="https://uploads.capbeast.com/spree/taxons/28/exact/new-era-beanies.jpg?1429180854" /></a>
</picture>
</a>
</div>
<div class="title">
<a title="Sample Cap" itemprop="name" href=/custom-hats/custom-beanies/custom-new-era-beanies class="info product-name text-center">Custom New Era Beanies</a>
</div>
</li>
<li class="col-sm-4">
<div class="img-holder sub-categories" itemscope itemtype="http://schema.org/Product" id="category_30">
<a href=/custom-hats/custom-beanies/custom-oakley-beanies>
<picture>
<a href="/custom-hats/custom-beanies/custom-oakley-beanies" itemprop="url"><img alt="Okaley beanies" class="img-responsive" data-src="https://uploads.capbeast.com/spree/taxons/30/exact/okaley-beanies.jpg?1429180857" itemprop="image" src="https://uploads.capbeast.com/spree/taxons/30/exact/okaley-beanies.jpg?1429180857" /></a>
</picture>
</a>
</div>
<div class="title">
<a title="Sample Cap" itemprop="name" href=/custom-hats/custom-beanies/custom-oakley-beanies class="info product-name text-center">Custom Oakley Beanies</a>
</div>
</li>
<li class="col-sm-4">
<div class="img-holder sub-categories" itemscope itemtype="http://schema.org/Product" id="category_32">
<a href=/custom-hats/custom-beanies/custom-embroidered-beanies>
<picture>
<a href="/custom-hats/custom-beanies/custom-embroidered-beanies" itemprop="url"><img alt="Embroidered beanies" class="img-responsive" data-src="https://uploads.capbeast.com/spree/taxons/32/exact/embroidered-beanies.jpg?1429180858" itemprop="image" src="https://uploads.capbeast.com/spree/taxons/32/exact/embroidered-beanies.jpg?1429180858" /></a>
</picture>
</a>
</div>
<div class="title">
<a title="Sample Cap" itemprop="name" href=/custom-hats/custom-beanies/custom-embroidered-beanies class="info product-name text-center">Custom Embroidered Beanies</a>
</div>
</li>
<li class="col-sm-4">
<div class="img-holder sub-categories" itemscope itemtype="http://schema.org/Product" id="category_33">
<a href=/custom-hats/custom-beanies/custom-embroidered-winter-hats>
<picture>
<a href="/custom-hats/custom-beanies/custom-embroidered-winter-hats" itemprop="url"><img alt="Embroidered winter hats" class="img-responsive" data-src="https://uploads.capbeast.com/spree/taxons/33/exact/embroidered-winter-hats.jpg?1429180860" itemprop="image" src="https://uploads.capbeast.com/spree/taxons/33/exact/embroidered-winter-hats.jpg?1429180860" /></a>
</picture>
</a>
</div>
<div class="title">
<a title="Sample Cap" itemprop="name" href=/custom-hats/custom-beanies/custom-embroidered-winter-hats class="info product-name text-center">Custom Embroidered Winter Hats</a>
</div>
</li>
</ul>
</div>
<div class="row mb20">
<div class="col-sm-12">
<p class=""><p>The beanie hat is the perfect combination of style and practicality. The first thing that comes to mind when thinking of the beanie cap is likely the naturally cool and exciting world of winter sports. This is because the material and design traditionally used on a beanie are perfect for harsh weather conditions; the type of harsh weather conditions you are likely to encounter snowboarding down a mountain in sub zero temperatures. But don&rsquo;t get it twisted; a practical piece of clothing doesn&rsquo;t have to be drab and boring. People don&rsquo;t just wear beanies because it keeps their head warm. The beanie is truly a sleek and stylish form of headwear that has slowly leaked into the fashion world. Lots of people don&rsquo;t need to wear a beanie, but they will, because they look&nbsp;<em>awesome</em>.</p>
<p>Remember the propeller beanie hat? It&rsquo;s hard to forget something that is widely seen as the cultural icon for child-like innocence. The beanie hat has come a hell of a long way since then. These days there are a variety of styles to choose from that are all influenced by different cultures and places. Whether you are looking for men&rsquo;s beanies, girl&rsquo;s beanies or something more specific like a slouchy beanie; you&rsquo;ve got a stylistic choice for any occasion.</p>
<p>Maybe you&rsquo;re looking for a simple skater beanie to wear at the park? Or perhaps you&rsquo;re more inclined towards a sports style beanie for winter game days. Whatever you&rsquo;re looking for, you can find it here at CapBeast. Not to mention you can run it through our incredibly easy and dope hat customizer to add your own personal touch. So what are you waiting for? Cop it, style it and own it. Grab your custom beanie today.</p>
<p>&nbsp;</p>
<p>&ldquo;<em><strong>I&rsquo;ll snap back a black cap beanie hat, jet set bringing beanies back&rdquo; - Ness</strong></em></p>
</p>
</div>
</div>
<div class="row">
<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
<ul class="sort-list list-inline text-center" style="margin-top:0px">
<li><a href="/custom-hats/custom-beanies/custom-new-era-beanies"> New Era Beanies </a></li>
<li><a href="/custom-hats/custom-beanies/custom-nike-beanies"> Nike Beanies </a></li>
<li><a href="/custom-hats/custom-beanies/custom-oakley-beanies"> Oakley Beanies </a></li>
<li><a href="/custom-hats/custom-beanies/custom-embroidered-beanies"> Embroidered Beanies </a></li>
<li><a href="/custom-hats/custom-beanies/custom-embroidered-winter-hats"> Embroidered Winter Hats </a></li>
</ul>
</div>
</div>
</div> 
</div> 
</main>