<!-- <main>
<div class="container-fluid">

<div class="main-section">
<ul class="hidden-xs sort-list list-inline text-center">
<li class=""><a href=/custom-hats/custom-snapbacks> Snapbacks </a></li>
<li class=""><a href=/custom-hats/custom-fitted-hats> Fitted Hats </a></li>
<li class=""><a href=/custom-hats/custom-strapback-hats> Dad Hats </a></li>
<li class=""><a href=/custom-hats/custom-camo-hats> Camo Hats </a></li>
<li class=""><a href=/custom-hats/custom-beanies> Beanies </a></li>
<li class="active"><a href=/custom-hats/custom-5-panel-hats> 5 Panel Hats </a></li>
<li class=""><a href=/custom-hats/custom-trucker-hats> Trucker Hats </a></li>
<li class=""><a href=/custom-hats/custom-bucket-hats> Bucket Hats </a></li>
<li class=""><a href=/custom-hats/custom-athletic-hats> Athletic Hats </a></li>
<li class=""><a href=/custom-hats/custom-golf-hats> Golf Hats </a></li>
<li class=""><a href=/custom-hats/custom-military-hats> Military Hats </a></li>
</ul>
<header class="heading text-center">
<h1>Design your own Custom 5 Panel Hats</h1>
</header>
<div class="row mb20">
<div class="col-sm-12">
<p class=""></p>
</div>
</div>
<div class="row mb20">
<div class="col-sm-12">
<p class=""></p>
</div>
</div>
<div class="row mb20">
<ul class="products-list list-unstyled text-center">
<li class="col-sm-4">
<div class="img-holder" itemscope itemtype="http://schema.org/Product" id="product_305">
<a href="/products/yupoong-5-panel-camo-hat?taxon_id=83">
<picture>
<a alt="5 panel camo hat - Yupoong - CapBeast" class="img-responsive" href="/products/yupoong-5-panel-camo-hat?taxon_id=83" itemprop="url"><img alt="Yupoong adjustable classic jockey camper cap   tiger   front view" data-src="https://uploads.capbeast.com/spree/products/276413/product/Yupoong_Adjustable_Classic_Jockey_Camper_Cap_-_Tiger_-_Front_View.jpg?1487009201" itemprop="image" src="https://uploads.capbeast.com/spree/products/276413/product/Yupoong_Adjustable_Classic_Jockey_Camper_Cap_-_Tiger_-_Front_View.jpg?1487009201" /></a>
</picture>

</a>
</div>
<ul class="set-color list-inline">
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #556B2F  0%, #556B2F  50%,  #000000 50%,  #000000 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/276415/product/Yupoong_Adjustable_Classic_Jockey_Camper_Cap_-_Tiger_-_Front_View.jpg?1487009293"></div>
</li>
</ul>
<strong class="title"><a href="/products/yupoong-5-panel-camo-hat?taxon_id=83" itemprop="name" title="Tiger Camo 5 Panel hat | Yupoong">Tiger Camo 5 Panel hat | Yupoong</a></strong>
<strong class="price">$30.00</strong>
</li>
<li class="col-sm-4">
<div class="img-holder" itemscope itemtype="http://schema.org/Product" id="product_288">
<a href="/products/yupoong-5-panel-hat?taxon_id=83">
<picture>
<a alt="5 panel hat - Yupoong - CapBeast" class="img-responsive" href="/products/yupoong-5-panel-hat?taxon_id=83" itemprop="url"><img alt="Yupoong adjustable classic jockey camper cap   olive   front view" data-src="https://uploads.capbeast.com/spree/products/264063/product/Yupoong_Adjustable_Classic_Jockey_Camper_Cap_-_Olive_-_Front_View.jpg?1485483788" itemprop="image" src="https://uploads.capbeast.com/spree/products/264063/product/Yupoong_Adjustable_Classic_Jockey_Camper_Cap_-_Olive_-_Front_View.jpg?1485483788" /></a>
</picture>

</a>
</div>
<ul class="set-color list-inline">
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #311E8F 0%, #311E8F 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/276387/product/Yupoong_Adjustable_Classic_Jockey_Camper_Cap_-_Navy_-_Front_View.jpg?1487008494"></div>
</li>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #556B2F 0%, #556B2F 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/276396/product/Yupoong_Adjustable_Classic_Jockey_Camper_Cap_-_Olive_-_Front_View.jpg?1487008553"></div>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #556B2F  0%, #556B2F  50%,  #000000 50%,  #000000 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/276391/product/Yupoong_Adjustable_Classic_Jockey_Camper_Cap_-_Tiger_-_Front_View.jpg?1487008499"></div>
</li>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #CCCCCC 0%, #CCCCCC 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/276400/product/Yupoong_Adjustable_Classic_Jockey_Camper_Cap_-_Grey_-_Front_View.jpg?1487008602"></div>
</li>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #c0b870 0%, #c0b870 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/276381/product/Yupoong_Adjustable_Classic_Jockey_Camper_Cap_-_Khaki_-_Front_View.jpg?1487008334"></div>
</li>
</ul>
<strong class="title"><a href="/products/yupoong-5-panel-hat?taxon_id=83" itemprop="name" title="5 Panel hat | Yupoong">5 Panel hat | Yupoong</a></strong>
<strong class="price">$30.00</strong>
</li>
<li class="col-sm-4">
<div class="img-holder" itemscope itemtype="http://schema.org/Product" id="product_309">
<a href="/products/2-tone-5-panel-snapback?taxon_id=83">
<picture>
<a alt="2 tone 5 panel snapback - Yupoong - CapBeast" class="img-responsive" href="/products/2-tone-5-panel-snapback?taxon_id=83" itemprop="url"><img alt="Yupoong 5 panel cotton twill snapback 2 tone   navy   red   front view" data-src="https://uploads.capbeast.com/spree/products/316959/product/Yupoong_5_Panel_Cotton_Twill_Snapback_2-Tone_-_Navy___Red_-_Front_View.jpg?1491755384" itemprop="image" src="https://uploads.capbeast.com/spree/products/316959/product/Yupoong_5_Panel_Cotton_Twill_Snapback_2-Tone_-_Navy___Red_-_Front_View.jpg?1491755384" /></a>
</picture>

</a>
</div>
<ul class="set-color list-inline">
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #311E8F 0%, #311E8F 50%,  #FF0000 50%,  #FF0000 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/316937/product/Yupoong_5_Panel_Cotton_Twill_Snapback_2-Tone_-_Navy___Red_-_Front_View.jpg?1491755020"></div>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #000000 0%, #000000 50%,  #0AC2F0 50%,  #0AC2F0 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/316955/product/Yupoong_5_Panel_Cotton_Twill_Snapback_2-Tone_-_Black___Teal_-_Front_View.jpg?1491755259"></div>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #000000 0%, #000000 50%, #FF0000 50%, #FF0000 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/323159/product/Yupoong_5_Panel_Cotton_Twill_Snapback_2-Tone_-_Black___Red_-_Front_View.jpg?1492519712"></div>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #000000 0%, #000000 50%, #bdbdbd 50%, #bdbdbd 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/316949/product/Yupoong_5_Panel_Cotton_Twill_Snapback_2-Tone_-_Black___Silver_-_Front_View.jpg?1491755172"></div>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #000000  0%, #000000  50%,  #60088C 50%,  #60088C 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/323133/product/Yupoong_5_Panel_2_Tone_Twill_Snapback_-_Black_Purple_-_Front.png?1492514913"></div>
</li>
</ul>
<strong class="title"><a href="/products/2-tone-5-panel-snapback?taxon_id=83" itemprop="name" title="2 tone 5 panel snapback | Yupoong">2 tone 5 panel snapback | Yupoong</a></strong>
<strong class="price">$30.00</strong>
</li>
</ul>
<div class="row">
<div class="col-sm-2 col-sm-offset-5 text-center">
</div>
</div>
</div>
<div class="row">
<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
<ul class="sort-list list-inline text-center" style="margin-top:0px">
<li><a href="/custom-hats/custom-5-panel-hats/custom-embroidered-5-panel-hats"> Embroidered 5 Panel Hats </a></li>
<li><a href="/custom-hats/custom-5-panel-hats/custom-dad-hats"> Dad Hats </a></li>
</ul>
</div>
</div>
</div> 
</div> 
</main> -->