/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require devise_bootstrap_views
 *= require_tree .
 *= require_self
 *= require trix
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
.img_size {
    height: 60px;
    display: inline-block;
    width: auto;
}
.show_img{
    position: relative;
    width: 550px;
    height: 550px;

}
.header .tools a {
    display: block;
    position: fixed;
    color: #000;
    font-size: 15px;
    width: 42px;
    height: 0px;
    text-align: center;
    line-height: 40px;
    padding: 0px 8px 0px 40px;
}
.text{
display: inline-block;
    text-align: center;
    margin: -111px;
    margin-top: -214px;
    margin-bottom: 144px;
    height: 34px;
    width: 278px;
}
.centered {
    
    color: white;
    position: absolute;
    top: 40%;
    left: 32%;
    padding: 70px 15px;
    font-size: 32px;
    font-weight: bold;
    }
    input[type="text"], input[type="email"], input[type="search"], input[type="password"], input[type="tel"] {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    box-shadow: none !important;
    background-color: #524b4b;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60);
   text-align: center;
    margin: -111px;
    margin-top: -214px;
    margin-bottom: 144px;
       height: 134px;
    width: 371px;
}
.navbar-brand>img {
    display: block;
    margin: -59px 11px 4px -2px;
}


.jqx-layout-group-auto-hide-content-vertical
{
    width: 30px;
}
/* CSS Document */
.simpleLens-thumbnails-container a{
    display: inline-block;
}
.simpleLens-thumbnails-container a img{
    display: block;
}
/* CSS Document */
.simpleLens-container{
    display: table;
    position: relative;
}

.simpleLens-big-image-container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position:relative;
    height: 300px;
    width: 350px;
}

.simpleLens-big-image {
    max-width: 100%;
}

.simpleLens-lens-image {
    height: auto !important;
    width: 350px;
    display: inline-block;
    text-align: center;
    margin:0;
    box-shadow:none;
    float:none;
    position:relative;
}

.simpleLens-mouse-cursor{
    background-color:#CCC;
    opacity:0.2;
    filter: alpha(opacity = 20);
    position:absolute;
    top:0;
    left:0;
    border:1px solid #999;
    box-shadow:0 0 2px 2px #999;
    cursor:none;
}

.simpleLens-lens-element {
    background-color: #FFFFFF;
    box-shadow: 0 0 2px 2px #8E8E8E;
    height: 400px;
    left: 105%;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 480px;
    z-index: 9999;
    text-align: center;
}

.simpleLens-lens-element img{
    position:relative;
    top:0;
    left:0;
    width:auto !important;
    max-width:none !important;
}