/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require devise_bootstrap_views
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
.img_size {
    height: 60px;
    display: inline-block;
    width: auto;
}
.show_img{
    position: relative;
    width: 550px;
    height: 550px;

}
.header .tools a {
    display: block;
    position: fixed;
    color: #000;
    font-size: 15px;
    width: 42px;
    height: 0px;
    text-align: center;
    line-height: 40px;
    padding: 0px 8px 0px 40px;
}
.text{
    display: inline-block;
    text-align: center;
    margin: -111px;
    margin-top: -214px;
    margin-bottom: 144px;
    height: 34px;
    width: 278px;
}
.centered {
    height: fit-content;
    color: white;
    position: absolute;
    top: 21%;
    left: 32%;
    padding: 70px 15px;
    font-size: 32px;
    font-weight: bold;
    }
    input[type="text"], input[type="search"], input[type="tel"] {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    box-shadow: none !important;
    background-color: #524b4b;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60);
    text-align: left;
    margin: -111px;
    margin-top: 22px;
    margin-bottom: 144px;
    height: 170px;
    width: 400px;

 
}
.navbar-brand>img {
    display: block;
    margin: -59px 11px 4px -2px;
}





div#editor {
  width: 100%;
  margin: auto;
  text-align: left;
}

#edit {
  display: inline-block;
}