<!-- <main>
<div class="container-fluid">

<div class="main-section">
<ul class="hidden-xs sort-list list-inline text-center">
<li class=""><a href=/custom-hats/custom-snapbacks> Snapbacks </a></li>
<li class="active"><a href=/custom-hats/custom-fitted-hats> Fitted Hats </a></li>
<li class=""><a href=/custom-hats/custom-strapback-hats> Dad Hats </a></li>
<li class=""><a href=/custom-hats/custom-camo-hats> Camo Hats </a></li>
<li class=""><a href=/custom-hats/custom-beanies> Beanies </a></li>
<li class=""><a href=/custom-hats/custom-5-panel-hats> 5 Panel Hats </a></li>
<li class=""><a href=/custom-hats/custom-trucker-hats> Trucker Hats </a></li>
<li class=""><a href=/custom-hats/custom-bucket-hats> Bucket Hats </a></li>
<li class=""><a href=/custom-hats/custom-athletic-hats> Athletic Hats </a></li>
<li class=""><a href=/custom-hats/custom-golf-hats> Golf Hats </a></li>
<li class=""><a href=/custom-hats/custom-military-hats> Military Hats </a></li>
</ul>
<header class="heading text-center">
<h1>Design your own Custom Fitted Hats</h1>
</header>
<div class="row mb20">
<ul class="products-list list-unstyled text-center">
<li class="col-sm-4">
<div class="img-holder" itemscope itemtype="http://schema.org/Product" id="product_5">
<a href="/products/wool-blend-hat-flexfit?taxon_id=9">
<picture>
<a alt="Wool blend cap - Flexfit FF6477 - CapBeast" class="img-responsive" href="/products/wool-blend-hat-flexfit?taxon_id=9" itemprop="url"><img alt="Ff6477" data-src="https://uploads.capbeast.com/spree/products/9/product/FF6477.jpg?1410367806" itemprop="image" src="https://uploads.capbeast.com/spree/products/9/product/FF6477.jpg?1410367806" /></a>
</picture>

</a>
</div>
<ul class="set-color list-inline">
 </li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #311E8F 0%, #311E8F 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/953/product/IMG_7975.jpg?1411828813"></div>
</li>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #3A35D4 0%, #3A35D4 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/944/product/IMG_8036.jpg?1411828765"></div>
</li>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #634A34 0%, #634A34 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/951/product/IMG_8012_2.jpg?1411828849"></div>
</li>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #15125C 0%, #15125C 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/955/product/IMG_7977.jpg?1411828825"></div>
</li>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/943/product/IMG_8007_2.jpg?1411828226"></div>
</li>
</ul>
<strong class="title"><a href="/products/wool-blend-hat-flexfit?taxon_id=9" itemprop="name" title="Wool blend cap | Flexfit">Wool blend cap | Flexfit</a></strong>
<strong class="price">$29.00</strong>
</li>
<li class="col-sm-4">
<div class="img-holder" itemscope itemtype="http://schema.org/Product" id="product_6">
<a href="/products/cotton-blend-cap-flexfit?taxon_id=9">
<picture>
<a alt="Cotton Blend Cap - Flexfit FF6277 - CapBeast" class="img-responsive" href="/products/cotton-blend-cap-flexfit?taxon_id=9" itemprop="url"><img alt="Ff6277" data-src="https://uploads.capbeast.com/spree/products/11/product/FF6277.jpg?1410367771" itemprop="image" src="https://uploads.capbeast.com/spree/products/11/product/FF6277.jpg?1410367771" /></a>
</picture>

</a>
</div>
<ul class="set-color list-inline">
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #000000  0%, #000000  50%,  #030303 50%,  #030303 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/958/product/Black_-_Left.jpg?1432146807"></div>
</li>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #FF0000 0%, #FF0000 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/966/product/Red_-_Back.jpg?1432146719"></div>
</li>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/960/product/White_-_Front.jpg?1432146811"></div>
</li>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #FFD700 0%, #FFD700 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/139944/product/Neon_Yellow_-_Front.jpg?1465924183"></div>
</li>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #66ff66 0%, #66ff66 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/139932/product/Neon_Green_-_Front.jpg?1465924243"></div>
</li>
</ul>
<strong class="title"><a href="/products/cotton-blend-cap-flexfit?taxon_id=9" itemprop="name" title="Cotton Blend Cap | Flexfit">Cotton Blend Cap | Flexfit</a></strong>
<strong class="price">$30.50</strong>
</li>
<li class="col-sm-4">
<div class="img-holder" itemscope itemtype="http://schema.org/Product" id="product_73">
<a href="/products/mesh-stretch-fitted-hat-new-era?taxon_id=9">
<picture>
<a alt="New Era 39fifty - Mesh fitted hat - NE1020 - CapBeast" class="img-responsive" href="/products/mesh-stretch-fitted-hat-new-era?taxon_id=9" itemprop="url"><img alt="Ne1020" data-src="https://uploads.capbeast.com/spree/products/1354/product/NE1020.jpg?1413566164" itemprop="image" src="https://uploads.capbeast.com/spree/products/1354/product/NE1020.jpg?1413566164" /></a>
</picture>

</a>
</div>
<ul class="set-color list-inline">
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #15125C 0%, #15125C 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/1474/product/IMG_0029.jpg?1412004810"></div>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #3A35D4 0%, #3A35D4 50%,  #3A35D4 50%,  #3A35D4 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/1494/product/IMG_0032.jpg?1412005350"></div>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #bdbdbd 0%, #bdbdbd 50%,  #000000 50%,  #000000 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/1498/product/IMG_0004.jpg?1413483748"></div>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #000000  0%, #000000  50%,  #FAFAFA 50%,  #FAFAFA 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/1481/product/IMG_0045.jpg?1413483806"></div>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #D91F00  0%, #D91F00  50%,  #FFFFFF 50%,  #FFFFFF 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/1490/product/IMG_0038.jpg?1412005343"></div>
</li>
</ul>
<strong class="title"><a href="/products/mesh-stretch-fitted-hat-new-era?taxon_id=9" itemprop="name" title="Mesh stretch fitted hat | New Era">Mesh stretch fitted hat | New Era</a></strong>
<strong class="price">$28.50</strong>
</li>
<li class="col-sm-4">
<div class="img-holder" itemscope itemtype="http://schema.org/Product" id="product_79">
<a href="/products/2-tone-cotton-blend-hat-flexfit?taxon_id=9">
<picture>
<a alt="2 Color cotton blend hat - Flexfit - CapBeast" class="img-responsive" href="/products/2-tone-cotton-blend-hat-flexfit?taxon_id=9" itemprop="url"><img alt="Atc1601" data-src="https://uploads.capbeast.com/spree/products/1360/product/ATC1601.jpg?1413565825" itemprop="image" src="https://uploads.capbeast.com/spree/products/1360/product/ATC1601.jpg?1413565825" /></a>
</picture>

</a>
</div>
<ul class="set-color list-inline">
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #000000 0%, #000000 50%, #FFD700 50%, #FFD700 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/1586/product/IMG_0116.jpg?1412011568"></div>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #000000  0%, #000000  50%,  #3A35D4 50%,  #3A35D4 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/1590/product/IMG_0110.jpg?1412011575"></div>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #000000 0%, #000000 50%, #bdbdbd 50%, #bdbdbd 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/1598/product/IMG_0114.jpg?1412011592"></div>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #000000 0%, #000000 50%, #FF0000 50%, #FF0000 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/1594/product/IMG_0119.jpg?1412011583"></div>
</li>
</ul>
<strong class="title"><a href="/products/2-tone-cotton-blend-hat-flexfit?taxon_id=9" itemprop="name" title="2 Tone Cotton blend hat | Flexfit">2 Tone Cotton blend hat | Flexfit</a></strong>
<strong class="price">$27.00</strong>
</li>
<li class="col-sm-4">
<div class="img-holder" itemscope itemtype="http://schema.org/Product" id="product_78">
<a href="/products/ultrafiber-airmesh-hat-flexfit-capbeast?taxon_id=9">
<picture>
<a alt="Ultrafiber Airmesh hat - Flexfit - CapBeast" class="img-responsive" href="/products/ultrafiber-airmesh-hat-flexfit-capbeast?taxon_id=9" itemprop="url"><img alt="Atc6533" data-src="https://uploads.capbeast.com/spree/products/1359/product/ATC6533.jpg?1413565897" itemprop="image" src="https://uploads.capbeast.com/spree/products/1359/product/ATC6533.jpg?1413565897" /></a>
</picture>

</a>
</div>
<ul class="set-color list-inline">
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/1562/product/IMG_0010.jpg?1412010729"></div>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #311E8F  0%, #311E8F  50%,  #03021F 50%,  #03021F 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/1574/product/IMG_0012.jpg?1412010887"></div>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #000000  0%, #000000  50%,  #000000 50%,  #000000 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/1570/product/IMG_0001.jpg?1412010744"></div>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #3A35D4 0%, #3A35D4 50%,  #3A35D4 50%,  #3A35D4 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/1578/product/IMG_0016.jpg?1412010895"></div>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #636363 0%, #636363 50%,  #D9D9D9 50%,  #D9D9D9 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/1582/product/IMG_0007.jpg?1412010902"></div>
</li>
</ul>
<strong class="title"><a href="/products/ultrafiber-airmesh-hat-flexfit-capbeast?taxon_id=9" itemprop="name" title="Ultrafiber Airmesh hat - Flexfit - CapBeast">Ultrafiber Airmesh hat - Flexfit - CapBeast</a></strong>
<strong class="price">$27.00</strong>
</li>
<li class="col-sm-4">
<div class="img-holder" itemscope itemtype="http://schema.org/Product" id="product_303">
<a href="/products/flexfit-plaid-hat?taxon_id=9">
<picture>
<a alt="Plaid hat - Flexfit - Capbeast" class="img-responsive" href="/products/flexfit-plaid-hat?taxon_id=9" itemprop="url"><img alt="Flexfit tartan plaid   black   red   front view" data-src="https://uploads.capbeast.com/spree/products/317195/product/Flexfit_Tartan_Plaid_-_Black___Red_-_Front_View.jpg?1491778951" itemprop="image" src="https://uploads.capbeast.com/spree/products/317195/product/Flexfit_Tartan_Plaid_-_Black___Red_-_Front_View.jpg?1491778951" /></a>
</picture>

</a>
</div>
<ul class="set-color list-inline">
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #000000 0%, #000000 50%, #bdbdbd 50%, #bdbdbd 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/317219/product/Flexfit_Tartan_Plaid_-_Black___Grey_-_Front_View.jpg?1491781213"></div>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #000000 0%, #000000 50%, #FF0000 50%, #FF0000 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/317211/product/Flexfit_Tartan_Plaid_-_Black___Red_-_Front_View.jpg?1491781154"></div>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #000000  0%, #000000  50%,  #368A06 50%,  #368A06 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/317215/product/Flexfit_Tartan_Plaid_-_Black___Green_-_Front_View.jpg?1491781208"></div>
</li>
</ul>
<strong class="title"><a href="/products/flexfit-plaid-hat?taxon_id=9" itemprop="name" title="Plaid hat | Flexfit">Plaid hat | Flexfit</a></strong>
<strong class="price">$30.00</strong>
</li>
<li class="col-sm-4">
<div class="img-holder" itemscope itemtype="http://schema.org/Product" id="product_302">
<a href="/products/flexfit-glen-check-hat?taxon_id=9">
<picture>
<a alt="Glen check hat - Flexfit - CapBeast" class="img-responsive" href="/products/flexfit-glen-check-hat?taxon_id=9" itemprop="url"><img alt="Flexfit glen check   black   white   front view" data-src="https://uploads.capbeast.com/spree/products/317193/product/Flexfit_Glen_Check_-_Black___White_-_Front_View.jpg?1491778672" itemprop="image" src="https://uploads.capbeast.com/spree/products/317193/product/Flexfit_Glen_Check_-_Black___White_-_Front_View.jpg?1491778672" /></a>
</picture>

</a>
</div>
<ul class="set-color list-inline">
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #6B4C45 0%, #6B4C45 50%,  #c0b870 50%,  #c0b870 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/317186/product/Flexfit_Tartan_Plaid_-_Brown___Grey_-_Front_View.jpg?1491778550"></div>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #000000  0%, #000000  50%,  #FAFAFA 50%,  #FAFAFA 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/317182/product/Flexfit_Glen_Check_-_Black___White_-_Front_View.jpg?1491778506"></div>
</li>
</ul>
<strong class="title"><a href="/products/flexfit-glen-check-hat?taxon_id=9" itemprop="name" title="Glen check hat | Flexfit">Glen check hat | Flexfit</a></strong>
<strong class="price">$30.00</strong>
</li>
<li class="col-sm-4">
<div class="img-holder" itemscope itemtype="http://schema.org/Product" id="product_301">
<a href="/products/flexfit-pinstripe-hat?taxon_id=9">
<picture>
<a alt="Pinstripe hat - Flexfit - CapBeast" class="img-responsive" href="/products/flexfit-pinstripe-hat?taxon_id=9" itemprop="url"><img alt="Flexfit pinstripe   black   white   front view" data-src="https://uploads.capbeast.com/spree/products/317166/product/Flexfit_Pinstripe_-_Black___White_-_Front_View.jpg?1491776797" itemprop="image" src="https://uploads.capbeast.com/spree/products/317166/product/Flexfit_Pinstripe_-_Black___White_-_Front_View.jpg?1491776797" /></a>
</picture>

</a>
</div>
<ul class="set-color list-inline">
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #FAFAFA  0%, #FAFAFA  50%,  #000000 50%,  #000000 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/317142/product/Flexfit_Pinstripe_-_White___Black_-_Front_View.jpg?1491776560"></div>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #000000  0%, #000000  50%,  #FAFAFA 50%,  #FAFAFA 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/317146/product/Flexfit_Pinstripe_-_Black___White_-_Front_View.jpg?1491776509"></div>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #A8925D  0%, #A8925D  50%,  #FFFFFF 50%,  #FFFFFF 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/317152/product/Flexfit_Pinstripe_-_Brown___White_-_Front_View.jpg?1491776597"></div>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #636363  0%, #636363  50%,  #FFFFFF 50%,  #FFFFFF 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/317162/product/Flexfit_Pinstripe_-_Dk_Grey___White_-_Front_View.jpg?1491776741"></div>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #15125C  0%, #15125C  50%,  #FFFFFF 50%,  #FFFFFF 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/317156/product/Flexfit_Pinstripe_-_Dk_Navy___White_-_Front_View.jpg?1491776703"></div>
</li>
</ul>
<strong class="title"><a href="/products/flexfit-pinstripe-hat?taxon_id=9" itemprop="name" title="Pinstripe hat | Flexfit">Pinstripe hat | Flexfit</a></strong>
<strong class="price">$30.00</strong>
</li>
<li class="col-sm-4">
<div class="img-holder" itemscope itemtype="http://schema.org/Product" id="product_74">
<a href="/products/stretch-fitted-hex-design-hat-new-era?taxon_id=9">
<picture>
<a alt="New Era 39fifty - Fitted hex design hat - NE1070 - CapBeast" class="img-responsive" href="/products/stretch-fitted-hex-design-hat-new-era?taxon_id=9" itemprop="url"><img alt="Ne1070" data-src="https://uploads.capbeast.com/spree/products/1356/product/NE1070.jpg?1413566187" itemprop="image" src="https://uploads.capbeast.com/spree/products/1356/product/NE1070.jpg?1413566187" /></a>
</picture>
 
</a>
</div>
<ul class="set-color list-inline">
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #000000  0%, #000000  50%,  #5E5E66 50%,  #5E5E66 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/1502/product/IMG_0062.jpg?1413060374"></div>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #5E5E66 0%, #5E5E66 50%,  #3A35D4 50%,  #3A35D4 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/1514/product/IMG_0067.jpg?1413060475"></div>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #5E5E66 0%, #5E5E66 50%,  #D91F00 50%,  #D91F00 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/1510/product/IMG_0068.jpg?1413060443"></div>
</li>
<li>
<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #311E8F 0%, #311E8F 50%,  #5E5E66 50%,  #5E5E66 100%);"></a>
<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/1506/product/IMG_0066.jpg?1413060409"></div>
</li>
</ul>
<strong class="title"><a href="/products/stretch-fitted-hex-design-hat-new-era?taxon_id=9" itemprop="name" title="Stretch fitted hex design hat | New Era">Stretch fitted hex design hat | New Era</a></strong>
<strong class="price">$27.00</strong>
</li>
</ul>
<div class="row">
<div class="col-sm-2 col-sm-offset-5 text-center">
</div>
</div>
</div>
<div class="row">
<ul class="products-list list-unstyled text-center">
<li class="col-sm-4">
<div class="img-holder sub-categories" itemscope itemtype="http://schema.org/Product" id="category_35">
<a href=/custom-hats/custom-fitted-hats/custom-new-era-fitted-hats>
<picture>
<a href="/custom-hats/custom-fitted-hats/custom-new-era-fitted-hats" itemprop="url"><img alt="New era fitted hats" class="img-responsive" data-src="https://uploads.capbeast.com/spree/taxons/35/exact/new-era-fitted-hats.jpg?1429180862" itemprop="image" src="https://uploads.capbeast.com/spree/taxons/35/exact/new-era-fitted-hats.jpg?1429180862" /></a>
</picture>
</a>
</div>
<div class="title">
<a title="Sample Cap" itemprop="name" href=/custom-hats/custom-fitted-hats/custom-new-era-fitted-hats class="info product-name text-center">Custom New Era Fitted Hats</a>
</div>
</li>
<li class="col-sm-4">
<div class="img-holder sub-categories" itemscope itemtype="http://schema.org/Product" id="category_38">
<a href=/custom-hats/custom-fitted-hats/custom-flexfit-fitted-hats>
<picture>
<a href="/custom-hats/custom-fitted-hats/custom-flexfit-fitted-hats" itemprop="url"><img alt="Flexfit fitted hats" class="img-responsive" data-src="https://uploads.capbeast.com/spree/taxons/38/exact/flexfit-fitted-hats.jpg?1429180863" itemprop="image" src="https://uploads.capbeast.com/spree/taxons/38/exact/flexfit-fitted-hats.jpg?1429180863" /></a>
</picture>
</a>
</div>
<div class="title">
<a title="Sample Cap" itemprop="name" href=/custom-hats/custom-fitted-hats/custom-flexfit-fitted-hats class="info product-name text-center">Custom Flexfit Fitted Hats</a>
</div>
</li>
</ul>
</div>
<div class="row mb20">
<div class="col-sm-12">
<p class=""><p>Let&rsquo;s take it all the way back to the 1920s and talk about the start of the custom fitted. Way before its adjustable brother and sisters hit the scene in the 1940s, the fitted was New Era&rsquo;s first pride and joy. Although it never quite turned out to be the pop culture giant the snapback is; the 59Fifty has still made waves around the world with it&rsquo;s unique take on the original baseball cap. Nicknamed &lsquo;The Brooklyn Style Cap&rsquo;, the fitted is the cap of choice for sports enthusiasts globally.</p>
<p>&ldquo;<em><strong>Where every fitted hat mean a different hood, make it out and they still want you in the hood&rdquo; &ndash;&nbsp;</strong></em><strong>Nipsey Hu$$le</strong></p>
<p>The basic and most obvious difference between the fitted and the other types of custom hats available on the market is the lack of closure mechanic at the back. Because of this, the fitted uniquely lends its self to more fully customizable style of fashion garment. If you&rsquo;re looking to truly design a bespoke custom baseball hat from the peak to the back then this is the piece for you.</p>
<p>&ldquo;<em><strong>Old to the new, no school holds the hat, custom tailor fitted, head stay the same size&rdquo; -&nbsp;</strong></em><strong>MF Doom</strong></p>
<p>Not only does the fitted hats design lend its self to some ridiculously dope style choices, it&rsquo;s also the most comfortable hat on the market by a long shot. If you&rsquo;re looking for a cap with style and practicality, you can&rsquo;t beat a good 59Fifty or FlexiFit that will rest snuggly on your head whatever the size. Due to its unique elasticity material, you won&rsquo;t ever have to worry about adjusting uncomfortable closures. Your head and a custom fitted are truly meant to be together. So why don&rsquo;t you make it official? Pick up a New Era 59Fifty, Yupoong or FlexiFit from CapBeast today. Then christen your brand new dome piece with our ridiculously easy to use online cap customizer. Make that cap yours and no one else&rsquo;s, baby.</p>
</p>
</div>
</div>
<div class="row">
<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
<ul class="sort-list list-inline text-center" style="margin-top:0px">
<li><a href="/custom-hats/custom-fitted-hats/custom-new-era-fitted-hats"> New Era Fitted Hats </a></li>
<li><a href="/custom-hats/custom-fitted-hats/custom-flexfit-fitted-hats"> Flexfit Fitted Hats </a></li>
</ul>
</div>
</div>
</div> 
</div> 
</main> -->